{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Projects{% endblock %}</h1>

    <a class="btn btn-primary mb-3" href="{{ url_for('project.create') }}">Create a new project</a>

    {% if projects %}
        <ul class="list-group">
            {% for p in projects %}
                <li class="list-group-item"><a href="{{ url_for('project.show_details', project_id=p.id) }}">{{ p.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Create a project to get started!</p>
    {% endif %}
{% endblock %}