{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}{{ project.name }}{% endblock %}</h1>

    <form action="{{ url_for('project.create') }}">
        <input name="project_id" type="hidden" value="{{ project.id }}">
        <button class="btn btn-primary" type="submit">Edit project</button>
    </form>

    <form action="{{ url_for('project.delete', project_id=project.id) }}" class="mt-3">
        <button class="btn btn-danger" type="submit">Delete project</button>
    </form>

    <h2 class="mt-5">Tasks</h2>

    <a class="btn btn-primary mb-3" href="{{ url_for('task.create', project_id=project.id) }}">Create task</a>

    {% if project.tasks %}
        <ul class="list-group">
            {% for task in project.tasks %}
                <li class="list-group-item">
                    <a class="{% if task.completed %}text-success{% endif %}" href="{{ url_for('task.create', project_id=project.id, task_id=task.id) }}">{{ task.text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks in this project yet!</p>
    {% endif %}
{% endblock %}